.search {
    background-color: #372e4e;
    padding: 2rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1.5rem;
}

.search_container {
    display: flex;
    gap: 0.5rem;
}

.search_container input,
.search_container button {
    padding: 0.6rem;
    border-radius: 3px;
    border: none;
    color: #372e4e;
}

.search_container button {
    background-color: #369b6c;
    cursor: pointer;
}